@media (min-width: 640px) {
  .content-width {
    min-width: 100px;
  }
  .item-width {
    min-width: 1000px;
  }
  img {
    width: 700px !important;
  }
}

.ex {
  border-radius: 50%;
  padding: 1px 5px;
}
